<div class="card">
  <div class="food-title">
    <h1>Add to my shopping list...</h1>
  </div>

  <%= form_with model: @general_shopping_lists, url:general_shopping_lists_path, scope: :general_shopping_lists, method: :post, data: { turbo: false }, class: "food-form" do |form| %>
    <div class="input textarea">
      <%= form.label :name %>
      <%= form.text_field :text, class: "form-control", required: true %>
    </div>
    <div class="input textarea mt-3">
      <%= form.label :Quantity %>
      <%= form.text_field :text, class: "form-control", required: true %>
    </div
    <div class="input textarea mt-3">
      <%= form.label :price %>
      <%= form.text_field :text, class: "form-control", required: true %>
    </div
    <div class="submit">
      <%= form.submit "submit" %>
    </div>
  <% end %>
</div>